/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
@font-face{
	 font-family: PoiretOne-Regular;
  	 src: url('../vista/vista.assests.fonts/PoiretOne-Regular.ttf');}
#texts{
	font-family :PoiretOne-Regular,Tahoma;
}
#buttontexts{
	font-family:Arial Narrow;
}